.logo {
  font-family: 'Lobster', cursive;
  color: #ff6800;
}

.product {
  font-family: 'Raleway', sans-serif;
}

.price {
  font-family: 'Raleway', sans-serif;
}

.move-up {
  position: absolute;
  right: 25%;
  top: 25%;
}

div .card .pop-out-cart {
  background-color: white;
}

.logo-icon {
  color: rgb(106, 66, 52);
  padding-right: 10px;
}

.info-button {
  display: inline-block;
  position: absolute;
  top: 180px;
  left: 34.5%;
}

.disappear {
  display: none;
}

table {
  background-color: white;
  color: black;
}

tr {
  border-top: 1px solid gray;
  font-family: 'Raleway', sans-serif;
}

td {
  padding: 5px;
  font-family: 'Raleway', sans-serif;
}

.exit {
  color: black;
  background-color: #cfb093;
}

.filter {
  background-color: white;
  opacity: 0.5;
}

.exit-btn {
  background-color: #ff6800;
  color: white;
}

.details-price {
  font-family: 'Raleway', sans-serif;
}

.card-title {
  font-family: 'Raleway', sans-serif;
}

.fa-circle {
  font-size: 50%;
}

.black {
  background-color: black;
  color: white;
}
