.logo {
  font-family: 'Lobster', cursive;
  color: #ff6800;
}

.product {
  font-family: 'Raleway', sans-serif;
}

.price {
  font-family: 'Raleway', sans-serif;
}

.move-up {
  position: absolute;
  right: 25%;
  top: 40%;
}

div .card .pop-out-cart {
  background-color: white;
}

.logo-icon {
  color: rgb(106, 66, 52);
  padding-right: 10px;
}

.info-button {
  display: inline-block;
  position: absolute;
  top: 180px;
  left: 34.5%;
}

.disappear {
  display: none;
}

table {
  border-top: 1px solid gray;
  position: relative;
  border: none;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  background-color: white;
  color: black;
}

tr {
  border-top: 1px solid gray;
  font-family: 'Raleway', sans-serif;
}

td {
  border: none;
  padding: 5px;
  font-family: 'Raleway', sans-serif;
}

.exit {
  position: absolute;
  bottom: 50%;
  left: 25%;
  width: 50%;
  color: black;
  background-color: #cfb093;
  border: 3px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 8px 5px 5px gray;
}

.filter {
  background-color: white;
  opacity: 0.5;
}

.exit-btn {
  position: relative;
  float: right;
  right: 10%;
  background-color: #ff6800;
  color: white;
}

.add-button {
  position: relative;
}

.details-price {
  position: relative;
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
}

.card-title {
  position: relative;
  left: 3%;
  margin-bottom: 25px;
  font-family: 'Raleway', sans-serif;
}

.pop-out-cart {
  position: relative;
  background-color: black;
  color: white;
}

.fa-circle {
  font-size: 50%;
  padding-left: 10px;
}

.black {
  background-color: black;
  color: white;
}
